/*CSS DOCUMENT*/
img {
width: 90%;
margin: 1em 15em 0em 1em;
    float: left;
 
}

h1{
  color: rgb(0, 0, 0);
  margin: 1em 1em 1em 1em;
  Padding: 0em 0em 0em 0em;
  font-family: serif;
  font-size: 2em;
    float:left;
  
}

h2{
  color: rgb(0, 0, 0);
  margin: 1em 1em 1em 1em;
  Padding: 0em 0em 0em 0em;
  font-family: serif;
  font-size: 1.5em;
    clear: both;
}

h3{
  color: rgb(102, 0, 51);
  margin: 2em 1em 1em 14em;
  Padding: 0em 0em 0em 0em;
  text-transform: uppercase;
  font-family: serif;
  font-size: 1.5em;
    clear: both;
}

h4{
  color: rgb(0, 0, 0);
  margin: 1em 1em 1em 1em;
  Padding: 0em 0em 0em 0em;
  font-family: serif;
  list-style: none;
    clear: both;
}

p{
  color: rgb(0, 0, 0);
  margin: 1em 1em 1em 1em;
  Padding: 0em 0em 0em 0em;
  font-family: serif;
  list-style: none;
    clear: both;
}


nav {
  color: rgb(139, 0, 0);
  margin: 0em 3.5em 3em 3.5em;
  Padding: 0em 0em 0em 0em;
  text-transform: uppercase;
  font-family: serif;
  font-size: 1em;
    list-style: none;
}

nav ul{
    float:right;
    padding: 1em 0em 0em 0em;
}

nav ul li{
list-style: none;
display: inline;
margin-right: 2em;
font-family: sans-serif;
text-transform: uppercase;

    
}

nav ul li a{
text-decoration: none;
color: rgb(0, 0, 0);
}



