//*CSS DOCUMENT*//

html {
  
}


body {
}


h1 {   
  width: 2em;
  
}


nav{
  color: rgb(139, 0, 0);
  margin: 1em 3.5em .5em 3.5em;
  Padding: 0em 0em 0em 0em;
  text-transform: uppercase;
  font-family: serif;
  font-size: 3em;
}


nav ul{
}


nav ul li {
}


nav ul li a {       
}
