/* CSS DOCUMENT*/


h1{
  color: rgb(25, 25, 112);
  text-transform: lowercase;
  font-family: sans-serif;
  
}

h2{
  color: rgb(64, 64, 64);
  text-transform: lowercase;
  font-family: sans-serif;
  
}

h3{
  color: rgb(105, 105, 105);
  text-transform: lowercase;
  font-family: sans-serif;
}

h4{
  font-family: sans-serif;
  text-transform: lowercase;
}
