/* CSS DOCUMENT*/


h1{
  color: rgb(0, 0, 0);
  margin:
  padding: 2em, 2em, 2em, 2em;
  text-transform: uppercase;
  font-family: monospace;
  
}

h2{
  color: rgb(0, 0, 139);
  margin:
  padding: 2em, 2em, 2em 2em;
}

h3{
  color: rgb(105, 105, 105);
  Padding:
}
    
