/*CSS DOCUMENT*/
img {
width: 95%;
margin:0
}


div.blurb{
    max-width: 50em;
    
}


div.container{
    width: 50%;
    margin: auto; 
    
}
 

h1{
  color: rgb(0, 0, 0);
  margin: 1em 0em 0em 1em;
    text-align: center;
  Padding: 0em 0em 0em 0em;
  font-family: serif;
  font-size: 1.5em;
    float:left;
  
}

h2{
  color: rgb(0, 0, 0);
    text-align: center;
  margin: 0;
  Padding: 0em 0em 0em 0em;
  font-family: sans-serif;
  font-size: 1em;
    clear: both;
}

h3{
  color: rgb(102, 0, 51);
    background-color: rgb(249, 242, 235);
  margin: 1.5em 0em 0em 0em;
  Padding: 0em 0em 0em 0em;
  text-transform: uppercase;
  font-family: serif;
  font-size: 1.5em;
    clear: both;
    
}

h4{
  color: rgb(0, 0, 0);
  margin: 1em 0em .5em 0em;
  Padding: 0em 0em 0em 0em;
  font-family: sans-serif;
list-style: none;
    clear: both;
}

p{
  color: rgb(0, 0, 0);
  margin: 0em 0em 0em .5em;
  Padding: 0em 0em 0em 0em;
  font-family: sans-serif;
list-style: none;
    clear: both;
}


nav {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1em;
  list-style: none;
  clear: both;
}

nav ul{
    float: left;
    display: inline-block;
    list-style-type: none;
}

nav ul li{
list-style: none;
display: inline-block;
margin-right: 2em;
font-family: sans-serif;
text-transform: uppercase;

    
}

nav ul li a{
text-decoration: none;
color: rgb(102, 0, 51);
}
